* {
    box-sizing: border-box;
}

.main {
    display: flex;
    gap: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridContainer {
    display: flex;
    height: 502px;
    width: 502px;
    border: 1px solid black;
}


.box {
    

}

button {
    height: 30px;
}