* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

.mainContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    display: flex;
}

.box {
    border: solid black 1px;
    width: 30px;
    height: 30px;
}

.boxHover {
    background-color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}