* {
    box-sizing: border-box;
}

.main {
    display: flex;
    gap: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridContainer {
    display: flex;
    height: 480px;
    width: 480px;
}


.box {
    border: 1px black solid;
    padding: 10px;
}

button {
    height: 30px;
}